*~
*.1
*.3
*.a
a.out
*.bak
*.blk
cachegrind.*
callgrind.*
*.cmd
core
*.core
*.db
Doxyfile
doxygen
doxygen/*
*.dump
forth
.forth
forth~
*.gcda
*.gcno
*.gcov
*.gz
*.hex
*.htm
html
*.html
html/*
*.i
*.ko
latex
latex/*
libforth.md
*.log
*.mod.c
*.o
*.order
*.out
*.pdf
*.rle
*.s
*.S
*.so
*.swo
.swp
*.swp
*.symvers
tags
test
*.tgz
third
.tmp_versions
.tmp_versions/*
unit
vgcore*
*.xz
